<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Printing Service</title>
    <link rel="stylesheet" href="assets/css/custom.min.css?ver=1.0.4" />
    <script src="assets/js/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-12">
            <h4 class="mb-0">Configure Printers for invoices and Orders</h4>
            <hr />
          </div>
          <div class="col-5">
            <div class="form-group">
              <label>URL:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Eg: https://demo.tameaps.com/"
                v-model="url"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" v-if="!choosenBranchId">
              <label style="visibility: hidden; width: 100%">Button</label>
              <button
                type="button"
                class="btn btn-primary"
                @click="getBranches()"
                :disabled="!url"
              >
                Get Branches
              </button>
            </div>
            <div class="align-items-center" v-else-if="branches.length">
              <div class="form-group">
                <label>Branch:</label>
                <select
                  class="form-control form-select"
                  v-model="choosenBranchId"
                >
                  <option value="null" hidden disabled>Select Branch</option>
                  <option
                    :value="branch.id"
                    v-for="branch in branches"
                    :key="branch.id"
                  >
                    {{ branch.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="" v-else>
              <label>Branch:</label>
              <input
                type="text"
                :value="branch?.name"
                class="form-control"
                readonly
              />
            </div>
          </div>
          <div class="col-3">
            <label style="visibility: hidden; width: 100%">Button</label>
            <button
              type="button"
              class="btn btn-primary w-100"
              @click="updateSettings"
              :disabled="!url || !choosenBranchId"
            >
              Save Settings
            </button>
          </div>
        </div>
        <hr />
        <div class="row mb-2">
          <div class="col-12" v-if="displayMode === 'PRINTERS_VIEW'">
            <div class="w-100 d-flex align-items-center">
              <h4 class="mb-0">Available Printers</h4>
              <button
                class="btn btn-primary"
                style="margin-left: auto"
                type="button"
                @click="displayMode=FORM_VIEW"
              >
                Add New
              </button>
            </div>
          </div>
          <div class="col-12 pt-3" v-if="displayMode !== 'PRINTERS_VIEW'">
            <h4>Add Printer</h4>
            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Printer Name:</label>
              <div class="col-4">
                <select
                  class="form-control form-select"
                  v-model="selectedPrinter"
                >
                  <option value="null" hidden disabled>Select Printer</option>
                  <option
                    :value="printer.name"
                    v-for="printer in printers"
                    :key="printer.name"
                  >
                    {{ printer.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Printer Type:</label>
              <div class="col-4">
                <select class="form-control form-select" v-model="printerType">
                  <option value="EPSON">EPSON</option>
                  <option value="STAR">STAR</option>
                  <option value="BIXOLON">BIXOLON</option>
                  <option value="CUSTOM">CUSTOM</option>
                  <option value="ZEBRA">ZEBRA</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Interface:</label>
              <div class="col-4">
                <select
                  class="form-control form-select"
                  v-model="printerInterface"
                >
                  <option value="TCP">TCP</option>
                  <option value="USB">USB</option>
                </select>
              </div>
            </div>
            <div
              class="form-group row mb-2 align-items-center"
              v-if="printerInterface === 'TCP'"
            >
              <label class="col-3">IP Address:</label>
              <div class="col-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xxx.xxx.xxx.xxx"
                  v-model="printerIpAddress"
                />
              </div>
            </div>
            <div class="form-group row mb-2 align-items-center" v-else>
              <label class="col-3">PORT:</label>
              <div class="col-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="eg: COM1, COM2, etc. Or USB001"
                  v-model="printerPort"
                />
              </div>
            </div>

            <div class="form-group row mb-2 align-items-center">
              <label class="col-4">Printable Content:</label>
              <div class="col-8">
                <div
                  style="
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 10px;
                    width: 100%;
                  "
                >
                  <div class="form-check" style="margin-right: 0.5rem">
                    <input
                      class="form-check-input form-check-input-primary"
                      type="checkbox"
                      value="K"
                      v-model="content"
                    />
                    <label class="ms-2">Kitchen Orders</label>
                  </div>
                  <div class="form-check" style="margin-right: 0.5rem">
                    <input
                      class="form-check-input form-check-input-primary"
                      type="checkbox"
                      value="B"
                      v-model="content"
                    />
                    <label class="ms-2">Bar Orders</label>
                  </div>
                  <div class="form-check" style="margin-right: 0.5rem">
                    <input
                      class="form-check-input form-check-input-primary"
                      type="checkbox"
                      value="I"
                      v-model="content"
                    />
                    <label class="ms-2">Invoices</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2 align-items-center">
              <label class="col-3"></label>
              <div class="col-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="setPrinter"
                  :disabled="!content.length || !selectedPrinter"
                >
                  Confirm Printer
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 pt-3" style="text-align: center" v-else>
            <div style="text-align: center" v-if="!activePrinters.length">
              <h4>No Printers available</h4>
              <button
                type="button"
                class="btn btn-primary"
                @click="showPrinterForm"
              >
                Add Printers
              </button>
            </div>
            <div
              style="
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                width: 100%;
              "
              v-else
            >
              <div
                class="panel mb-2"
                v-for="printer in activePrinters"
                :key="printer.id"
              >
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Name: <small>{{ printer.name }}</small></h4>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Type: <small>{{ printer.type }}</small></h4>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Interface: <small>{{ printer.interface }}</small></h4>
                </div>
                <div
                  v-if="printer.ip"
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>IP address: <small>{{ printer.ip }}</small></h4>
                </div>
                <div
                  v-if="printer.port"
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Port: <small>{{ printer.port }}</small></h4>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Content: <small>{{ printer.content }}</small></h4>
                </div>
                <div class="d-flex mt-3">
                  <button
                    class="btn btn-primary"
                    type="button"
                    @click="showPrinterForm(printer)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger"
                    style="margin-left: auto"
                    type="button"
                    @click="deletePrinter(printer)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/axios.min.js"></script>
    <script type="module" defer src="./app.js"></script>
  </body>
</html>
