<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Printing Service</title>
    <link rel="stylesheet" href="assets/css/custom.min.css?ver=1.0.4" />
    <style>
      .printer-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
      }
      .printer-icon {
        width: 40px;
        height: 40px;
        color: #333;
      }

      .printing-indicator {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        animation: vibrate 0.3s linear infinite;
      }

      @keyframes vibrate {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(1px, -1px);
        }
        50% {
          transform: translate(0, 1px);
        }
        75% {
          transform: translate(-1px, -1px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    </style>
    <script src="assets/js/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div
        style="
          z-index: 1060;
          position: fixed;
          top: 0;
          width: 100%;
          text-align: center;
        "
        v-if="isLoading"
      >
        <div class="loading text-center">
          <div class="load-circle1"></div>
          <div class="load-circle2"></div>
          <div class="load-circle3"></div>
          <div class="load-circle4"></div>
          <div class="load-circle5"></div>
        </div>
      </div>
      <transition name="bounce">
        <div
          v-if="hasFlashMessage"
          id="ember201"
          class="notification-message text-center zf-notification-container ember-view"
          style="
            transform: translateY(0px);
            opacity: 1;
            transition: transform 0.6s ease 0s;
          "
        >
          <div align="center">
            <div :class="`message-container ${message?.type}`">
              <div>
                <svg
                  class="svg-icon"
                  v-if="message?.type == 'warning'"
                  viewBox="0 0 17 16"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                  ></path>
                </svg>

                <svg
                  v-if="message?.type == 'info'"
                  class="svg-icon"
                  viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                  ></path>
                </svg>
                <svg
                  v-if="message?.type == 'success'"
                  class="svg-icon"
                  viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                  ></path>
                </svg>

                <svg
                  class="svg-icon"
                  v-if="message?.type == 'danger'"
                  viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
                  ></path>
                </svg>
              </div>
              <div class="msg">
                <span>{{ message?.text }}</span>
              </div>
              <div @click="toggleFlashMessage(null)">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  x="0"
                  y="0"
                  viewBox="0 0 512 512"
                  xml:space="preserve"
                  class="icon-remove"
                >
                  <path
                    d="M455.2 9.2L256 208.4 56.8 9.2C44.5-3.1 24.6-3.1 12.2 9.2l-2.9 2.9C-3 24.4-3 44.4 9.3 56.7L208.4 256 9.2 455.2c-12.3 12.3-12.3 32.3 0 44.6l2.9 2.9c12.3 12.3 32.3 12.3 44.6 0L256 303.6l199.2 199.2c12.3 12.3 32.3 12.3 44.6 0l2.9-2.9c12.3-12.3 12.3-32.3 0-44.6L303.6 256 502.8 56.8c12.3-12.3 12.3-32.3 0-44.6l-2.9-2.9c-12.5-12.4-32.4-12.4-44.7-.1z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div
        class="container-fluid"
        style="margin-top: 0.5rem"
        v-if="authenticated"
      >
        <div class="row mb-2">
          <div class="col-12">
            <h4 class="mb-0">Configure Printers for invoices and Orders</h4>
            <hr />
          </div>
          <div class="col-5">
            <div class="form-group">
              <label>URL:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Eg: https://demo.tameaps.com/"
                v-model="url"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" v-if="!choosenBranchId && !branches.length">
              <label style="visibility: hidden; width: 100%">Button</label>
              <button
                type="button"
                class="btn btn-primary"
                @click="getBranches()"
                :disabled="!url"
              >
                Get Branches {{ choosenBranchId }}
              </button>
            </div>
            <div class="align-items-center" v-else-if="branches.length">
              <div class="form-group">
                <label>Branch:</label>
                <select
                  class="form-control form-select"
                  v-model="choosenBranchId"
                >
                  <option value="null" hidden disabled>Select Branch</option>
                  <option
                    :value="branch.id"
                    v-for="branch in branches"
                    :key="branch.id"
                  >
                    {{ branch.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="" v-else>
              <label>Branch:</label>
              <input
                type="text"
                :value="branch?.name"
                class="form-control"
                readonly
              />
              <a href="javascript:void(0)" @click.prevent="changeBranch"
                >Edit Branch</a
              >
            </div>
          </div>
          <div class="col-3">
            <label style="visibility: hidden; width: 100%">Button</label>
            <button
              type="button"
              class="btn btn-primary w-100"
              @click="updateSettings"
              :disabled="!url || !choosenBranchId"
            >
              Save Settings
            </button>
          </div>
        </div>
        <hr />
        <div class="row mb-2">
          <div class="col-12" v-if="displayMode === 'PRINTERS_VIEW'">
            <div class="w-100 d-flex align-items-center">
              <h4 class="mb-0">Available Printers</h4>
              <button
                class="btn btn-success"
                style="margin-left: auto"
                type="button"
                @click="showPrinterForm()"
                v-if="activePrinters.length"
              >
                Add New
              </button>
            </div>
          </div>
          <div class="col-12 pt-3" v-if="displayMode !== 'PRINTERS_VIEW'">
            <h4>Add Printer</h4>
            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Printer Name:</label>
              <div class="col-4">
                <select
                  class="form-control form-select"
                  v-model="selectedPrinter"
                >
                  <option value="null" hidden disabled>Select Printer</option>
                  <option
                    :value="printer.name"
                    v-for="printer in printers"
                    :key="printer.name"
                  >
                    {{ printer.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Printer Type:</label>
              <div class="col-4">
                <select class="form-control form-select" v-model="printerType">
                  <option value="EPSON">EPSON</option>
                  <option value="STAR">STAR</option>
                  <option value="BIXOLON">BIXOLON</option>
                  <option value="CUSTOM">CUSTOM</option>
                  <option value="ZEBRA">ZEBRA</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Interface:</label>
              <div class="col-4">
                <select
                  class="form-control form-select"
                  v-model="printerInterface"
                >
                  <option value="TCP">TCP</option>
                  <option value="USB">USB</option>
                </select>
              </div>
            </div>
            <div
              class="form-group row mb-2 align-items-center"
              v-if="printerInterface === 'TCP'"
            >
              <label class="col-3">IP Address:</label>
              <div class="col-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="xxx.xxx.xxx.xxx"
                  v-model="printerIpAddress"
                />
              </div>
            </div>
            <div class="form-group row mb-2 align-items-center" v-else>
              <label class="col-3">Share Name:</label>
              <div class="col-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Share Name"
                  v-model="printerPort"
                />
              </div>
            </div>

            <div class="form-group row mb-2 align-items-center">
              <label class="col-4">Printable Content:</label>
              <div class="col-8">
                <div
                  style="
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 10px;
                    width: 100%;
                  "
                >
                  <div class="form-check" style="margin-right: 0.5rem">
                    <input
                      class="form-check-input form-check-input-primary"
                      type="checkbox"
                      value="K"
                      v-model="content"
                    />
                    <label class="ms-2">Kitchen Orders</label>
                  </div>
                  <div class="form-check" style="margin-right: 0.5rem">
                    <input
                      class="form-check-input form-check-input-primary"
                      type="checkbox"
                      value="B"
                      v-model="content"
                    />
                    <label class="ms-2">Bar Orders</label>
                  </div>
                  <div class="form-check" style="margin-right: 0.5rem">
                    <input
                      class="form-check-input form-check-input-primary"
                      type="checkbox"
                      value="I"
                      v-model="content"
                    />
                    <label class="ms-2">Invoices</label>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="form-group row mb-2 align-items-center"
              style="margin-top: 1rem"
            >
              <label class="col-3"></label>
              <div class="col-9 d-flex">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="setPrinter"
                  :disabled="!content.length || !selectedPrinter"
                >
                  Confirm Printer
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  @click="handleCancel"
                  style="margin-left: 20px"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 pt-3" style="text-align: center" v-else>
            <div style="text-align: center" v-if="!activePrinters.length">
              <h4>No Printers available</h4>
              <button
                type="button"
                class="btn btn-primary"
                @click="showPrinterForm()"
              >
                Add Printers
              </button>
            </div>
            <div
              style="
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                width: 100%;
              "
              v-else
            >
              <div
                class="panel mb-2"
                v-for="printer in activePrinters"
                :key="printer.id"
              >
                <div class="printer-container" v-if="printInterval">
                  <svg
                    class="printer-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                  >
                    <path
                      d="M19 7h-1V3H6v4H5C3.89 7 3 7.89 3 9v8h4v4h10v-4h4V9c0-1.11-.89-2-2-2zM8 4h8v3H8V4zm7 14H9v-4h6v4zm3-4h-1v-1H7v1H6v-5c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v5z"
                    />
                  </svg>
                  <div class="printing-indicator"></div>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Name: <small>{{ printer.name }}</small></h4>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Type: <small>{{ printer.type }}</small></h4>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Interface: <small>{{ printer.interface }}</small></h4>
                </div>
                <div
                  v-if="printer.ip"
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>IP address: <small>{{ printer.ip }}</small></h4>
                </div>
                <div
                  v-else
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>Share Name: <small>{{ printer.port }}</small></h4>
                </div>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.125rem;
                  "
                >
                  <h4>
                    Content:
                    <small>{{ showPrinterContent(printer.content) }}</small>
                  </h4>
                </div>
                <div class="d-flex mt-3">
                  <button
                    class="btn btn-primary"
                    type="button"
                    @click="showPrinterForm(printer)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger"
                    style="margin-left: auto"
                    type="button"
                    @click="deletePrinter(printer)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <template v-if="!authenticated">
        <div
          class="modal fade show"
          id="login_modal"
          role="dialog"
          tabindex="-1"
          aria-modal="true"
          style="padding-right: 15px; display: block"
        >
          <div
            class="modal-dialog modal-sm modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-group" @submit.prevent="handleLogin">
                  <label for="password" class="mb-2 h5"
                    >Enter Your Password</label
                  >
                  <input
                    type="password"
                    id="password"
                    class="form-control mb-2"
                    v-model="password"
                  />
                  <button
                    type="button"
                    :disabled="!password || isAuthenticating"
                    class="btn btn-primary"
                    style="margin-top: 0.5rem; width: 100%"
                    @click="handleLogin"
                  >
                    Authenticate
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-backdrop fade show"></div>
      </template>
    </div>
    <script src="assets/js/axios.min.js"></script>
    <script type="module" defer src="./app.js"></script>
  </body>
</html>
