@charset "UTF-8";
@import url(https://unicons.iconscout.com/release/v3.0.0/css/line.css);
:root {
  --text-success: #549d06;
  --tm-red: #eb1e1e;
  --tm-yellow: #fcaf02;
  --google-blue: #4285f4;
  --google-red: #db4437;
  --google-yellow: #f4b400;
  --google-green: #0f9d58;
  --pt-red: #e60023;
  --amazon-yellow: #ff9900;
  --bnb-pink: #ff5a5f;
  --bnb-arches: #fc642d;
  --bnb-hof: #484848;
  --bnb-foggy: #767676;
}
.mainnav {
  max-width: 10.75rem;
  width: 10.75rem;
}
@media (min-width: 992px) {
  .mn--max .header__brand {
    max-width: 10.75rem;
    width: 10.75rem;
  }
}
svg.icon.icon-xxlg {
  height: 25px;
  width: 25px;
}

.zf-notification-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  margin: 0 auto;
  color: #fff;
  max-width: 500px;
}
.zf-notification-container svg {
  height: 1em;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  fill: currentColor;
}
.zf-notification-container svg.svg-icon {
  height: 1.6em;
  width: 1.6em;
  margin-top: 5px;
}
.zf-notification-container .message-container {
  display: inline-flex;
  padding: 10px 13px;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
}
.zf-notification-container .message-container.danger {
  background-color: #ba4239;
}
.zf-notification-container .message-container.success {
  background-color: #1ee0ac;
}
.zf-notification-container .message-container.info {
  background-color: #079bb2;
}
.zf-notification-container .message-container.warning {
  background-color: #c3970b;
}
.zf-notification-container .msg {
  margin: 0 8px;
  max-width: 325px;
  text-align: left;
  line-height: 1.3;
}
.zf-notification-container .icon-remove {
  cursor: pointer;
  color: #fff;
  font-size: 10px;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.btn-trigger {
  position: relative;
  z-index: 1;
  color: #526484;
}
.btn-trigger:before {
  position: absolute;
  z-index: -1;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  content: "";
  background-color: #e5e9f2;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
}

.btn-icon .icon {
  width: 2.125rem;
  line-height: inherit;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.5em;
}
.dropdown-toggle.btn-trigger::after {
  display: none;
}
.table-sm .btn-trigger {
  padding: 0;
  height: auto;
  line-height: 1;
}
.btn-trigger + .dropdown-menu-end {
  margin-right: 16px !important;
}
.link-list-opt li + li {
  border-top: 1px solid #e5e9f2;
}
.link-list-opt.no-bdr {
  padding: 0.5rem 0;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.link-list-opt.no-bdr li:not(.divider) {
  border-top-width: 0;
}
.link-list-opt a {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.625rem;
  font-size: 12px;
  font-weight: 500;
  color: #526484;
  transition: all 0.4s;
  position: relative;
  text-decoration: none;
}
.link-list-opt a:hover {
  color: #141543;
  background: #f5f6fa;
}
.link-list-opt a .icon {
  font-size: 0.875rem;
  width: 1rem;
  opacity: 0.8;
}
.icon + span {
  margin-left: 0.25rem;
}
.cursor-pointer {
  cursor: pointer !important;
}
a,
a:hover {
  text-decoration: none;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#alert-loading {
  text-align: center;
  margin: 0;
  display: none;
}

#alert-loading span {
  display: inline-block;
  width: 0.6125rem;
  height: 0.6125rem;
  margin: 0 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  vertical-align: middle;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: opacity;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
}

#alert-loading span:nth-child(2) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
}

#alert-loading span:nth-child(3) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
}
.bg-success {
  background-color: #549d06 !important;
}
.text-success {
  color: #549d06 !important;
}
.hd--expanded .content__header.overlapping.custom {
  border-radius: unset !important;
}
.hd--expanded .content__header.overlapping.custom .content__wrap:after {
  height: 0;
}
.order-wraper {
  column-gap: 10px;
}
@media (min-width: 576px) {
  .order-wraper {
    grid-template-columns: auto auto;
  }
  .order-wraper.toggled {
    grid-template-columns: auto;
  }
}
@media (min-width: 768px) {
  .order-wraper {
    grid-template-columns: auto auto auto;
  }
  .order-wraper.toggled {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 992px) {
  .order-wraper {
    grid-template-columns: auto auto auto auto;
  }
  .order-wraper.toggled {
    grid-template-columns: auto auto auto;
  }
}

.order-wraper .order-list-item:hover {
  border: 1px solid var(--bs-primary) !important;
}
.order-wraper .order-list-item.active {
  border: 1px solid var(--text-success) !important;
}
.selected-order-items .item:not(:last-child) {
  border-bottom: 1px dashed #888;
}
.main-side {
  position: relative;
  height: calc(100vh - 13.1rem);
  overflow-x: hidden !important;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pagination-wrapper nav.mt-5 {
  margin-top: 0 !important;
}
.pos-cart {
  /* min-height: calc(90vh - 8.5rem);
  height: calc(100vh - 3.4rem); */
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding-bottom: 4rem;
}
.active-payment {
  color: #fff !important;
  background-color: #1f3c5a !important;
  border-color: #1e3955 !important;
}
.table td {
  vertical-align: middle;
}
.badge-soft-primary {
  color: #038edc;
  background-color: rgba(3, 142, 220, 0.1);
}
.badge-soft-success {
  color: #51d28c;
  background-color: rgba(81, 210, 140, 0.1);
}
.badge-soft-info {
  color: #5fd0f3;
  background-color: rgba(95, 208, 243, 0.1);
}
.badge-soft-warning {
  color: #f7cc53;
  background-color: rgba(247, 204, 83, 0.1);
}
.badge-soft-danger {
  color: #f34e4e;
  background-color: rgba(243, 78, 78, 0.1);
}
.badge-soft-dark {
  color: #343a40;
  background-color: rgba(52, 58, 64, 0.18);
}
button[class^="badge-soft-"]:hover {
  color: inherit !important;
}
.form-group img {
  width: 100%;
}
.feather {
  width: 18px;
  height: 18px;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
.avatar > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.avatar-xxl {
  width: 5.125rem;
  height: 5.125rem;
}
.profile-cover-avatar {
  display: -ms-flexbox;
  display: flex;
  margin: -6.3rem auto 0.5rem;
  border: 3px solid #fff;
  border-radius: 50%;
}
.profile-cover-avatar input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 33, 68, 0.25);
  border-radius: 50%;
  transition: 0.2s;
}
.avatar-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #677788;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
}
.avatar-edit svg {
  width: 18px;
}
.profile-cover-avatar .avatar-img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  border-radius: 50%;
}
ul.ranges {
  z-index: 1000;
  padding: 0.5rem;
  margin: 0;
  font-size: 0.75rem;
  color: #495057;
  text-align: left;
  list-style: none;
  margin: 0 !important;
  opacity: 1;
  pointer-events: visible;
  touch-action: auto;
  transition-timing-function: ease;
  transition: visibility 0.35s, margin 0.35s ease-in-out, opacity 0.35s,
    transform 0s;
  visibility: visible;
}
.custom-ranger-wraper {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dropdown-item {
  margin-bottom: 0;
}
.data-filters .dropdown-item.active {
  color: #525e64;
  text-decoration: none;
  background-color: #f2f4f8;
}
.listgroup-search {
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .avatar-xxl {
    width: 8rem;
    height: 8rem;
  }
}
@media (max-width: 767.98px) {
  .profile-cover-avatar {
    margin: -3rem auto 0.5rem;
  }
}

#animated input[type="text"] {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  padding-left: 2rem !important;
}
#animated input[type="text"]:focus {
  width: 320px;
}
#animated svg {
  position: relative;
  left: 30px;
}
.badge-lg {
  font-size: 1.07em;
  font-weight: 500;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-top-0 {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.border-dashed {
  border-bottom-style: dashed !important;
}
button:disabled {
  cursor: not-allowed;
}
.sb--show .sidebar {
  width: 23.1875rem;
}
.root.sb--show:before {
  z-index: 1048;
}
.notification-bell {
  animation: bell 1s 1s both infinite;
}
@keyframes bell {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}
.tip-icon-success {
  background: #8bc34a;
}
.info-tab {
  float: left;
  margin-left: -23px;
}
.info-tab {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 8px;
}

.tip-icon-success::before {
  font-size: 15px;
  content: "";
  top: 3px;
  left: 6px;
  font-family: FontAwesome;
  position: absolute;
  color: white;
}

.tip-icon-success i::before {
  background: #8bc34a;
}
.info-tab i::before,
.info-tab i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: rotateX(60deg);
}
.info-tab i::before {
  width: 14px;
  height: 14px;
  box-shadow: inset 12px 0 13px rgb(0 0 0 / 50%);
}
.info-tab i::before,
.info-tab i::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: rotateX(60deg);
}
.info-tab i::after {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  bottom: -18px;
}

.completed-order {
  position: absolute;
  right: -2px;
  top: -8px;
}
.img-md {
  width: 4rem;
  height: 4rem;
}
.display-6 {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 1.5rem;
  }
}
.nk-ck-sm {
  height: 280px;
}
.dot.sq {
  border-radius: 3px;
}

.dot {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}
.multiselect__option--highlight,
.multiselect__option--highlight:after {
  background: var(---bs-primary) !important;
}
.multiselect__option--selected.multiselect__option--highlight:after,
.multiselect__option--highlight:after {
  content: "" !important;
}
/*.multiselect__content-wrapper::-webkit-scrollbar {
  width: 0.6em;
}
.multiselect__content-wrapper::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px var(--bs-primary);
  border-radius: 1px;
} */
.multiselect__option--selected:after {
  color: transparent;
}
#root .multiselect {
  min-height: 34px;
  height: 34px;
}
#root .multiselect__select {
  width: 32px;
  height: 30px;
  padding: 2px 4px;
}
#root .multiselect__tags {
  min-height: 34px;
  padding: 5px 0.5rem 0 8px;
  border-radius: 3px;
}
#root .multiselect__option {
  min-height: 34px;
  padding: 5px 8px;
  font-size: 0.875rem;
  line-height: 1.6;
}
#root .multiselect__placeholder,
#root .multiselect__single {
  margin-bottom: 2px;
}
#root .multiselect,
#root .multiselect__input,
#root .multiselect__single {
  font-size: 14px;
}
#root .multiselect__select:before {
  z-index: 9;
}
#root .multiselect__spinner,
.form-clip,
.form-text-hint {
  background: transparent !important;
}
#root .multiselect__single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul li.multiselect__element {
  padding: 0 10px;
}
.nk-block-tools > * {
  display: inline-flex;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.g-1:not(.row) {
  margin: -0.1875rem;
}
.g-1:not(.row) > li,
.g-1:not(.row) > div {
  padding: 0.1875rem;
}
.multiselect-search {
  background-clip: padding-box !important;
  border: 1px solid rgba(0, 0, 0, 0.07) !important;
}
.selected-option {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f2f4f8;
}
.receipt {
  position: fixed;
  bottom: 0;
  z-index: 1050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .receipt {
    -webkit-transition: none;
    transition: none;
  }
}
.receipt-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.receipt-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
.receipt-title {
  margin-bottom: 0;
  color: #fff;
}
.receipt-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.receipt-end {
  top: 0;
  right: 0;
  width: 340px;
  border-left: 1px solid #f1f5f7;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.show-receipt {
  transform: translateX(0%);
}
.crud-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 15px;
  overflow: hidden;
}

.crud-display {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
}

.crud-display.empty {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  min-width: 70px;
}
[hidden] {
  display: none;
}
.crud-create {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -moz-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  padding: 20px;
}
.btn-back {
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: none;
  box-sizing: content-box;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-left: 0;
  margin-right: 16px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  position: relative;
  text-align: center;
  transition: all 0.218s;
  white-space: nowrap;
  vertical-align: middle;
  z-index: 1;
}
.crud-back {
  height: 24px;
  margin: 10px 0 -24px;
  min-width: 24px;
  padding: 3px 4px;
  position: absolute;
  top: 85px;
  width: 24px;
  line-height: 1;
  left: 36px;
}

.crud-display-line {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 40px;
  width: 70px;
}

.crud-display-line .crud-links {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 600px;
  min-width: 200px;
  position: relative;
  margin-left: 35px;
  padding-left: 34px;
  border-left: 1px solid #ccc;
}
.required::after {
  color: red;
  content: "*";
}
.date-range {
  padding: 0.2rem 0.5rem;
  border: 1px solid #dadce0;
  border-radius: 0.25rem;
  min-height: 100%;
}
.date-range > * {
  outline: 0 !important;
  cursor: pointer !important;
}
.date-range .input-wrapper {
  position: relative;
  overflow: hidden;
  height: 30px;
}
.date-range .input-wrapper .form-control,
.date-range .input-wrapper .form-control:hover,
.date-range .input-wrapper .form-control:focus {
  border: none !important;
  outline: 0 !important;
  cursor: pointer !important;
  color: #222;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  text-align: inherit;
  -webkit-appearance: none;
  height: 100%;
  max-width: calc(50% - 4px);
}
.date-range .input-wrapper .input-separator {
  transition: opacity 400ms 133.3333333333ms cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.87);
  border-color: transparent;
  position: relative;
  font-weight: bolder;
}
.date-range .input-wrapper input[type="date"]::-webkit-inner-spin-button,
.date-range
  .input-wrapper
  input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  opacity: 0;
}
.p-1-1 {
  padding: 0.025rem !important;
}
.tame-drawer {
  margin: 10px auto;
  border-radius: 0.35rem;
  margin-right: 10px;
  width: 34.1875rem !important;
  background-color: #f2f2f2 !important;
  height: auto;
  bottom: 5px;
}

.tame-drawer .accordion-button:not(.collapsed),
.tame-drawer .accordion-button,
.tame-drawer .accordion-body {
  background-color: #e8e8e8 !important;
}
.accordion-button {
  padding: 0.625rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}

.qty-circle {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  background-color: #767676;
}
.tame-drawer .accordion-body {
  border-bottom-right-radius: 0.4375rem;
  border-bottom-left-radius: 0.4375rem;
}
.tame-drawer .sidebar__stuck {
  background: #f9f9f9;
  margin: -7px;
  padding: 1rem;
}
#alert-container {
  z-index: 99999;
  position: relative;
}

.ant-transfer-list {
  border: 1px solid #d9d9d9;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 75vh;
  padding-top: 34px;
}
.ant-transfer {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
}
.ant-transfer-list-header {
  padding: 12px;
  border-radius: 4px 4px 0 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ant-checkbox-wrapper {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: unset;
  cursor: pointer;
  display: inline-block;
}
.ant-checkbox {
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  top: -0.09em;
}
.ant-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.ant-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s;
  border-collapse: separate;
}
.ant-checkbox-inner:after {
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4.57142857px;
  top: 1.14285714px;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  opacity: 0;
}
.ant-checkbox-wrapper + span,
.ant-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
}
.ant-transfer-list-header-title {
  position: absolute;
  right: 2px;
}
.ant-transfer-list-body-with-search {
  padding-top: 52px;
}
.ant-transfer-list-body {
  font-size: 14px;
  position: relative;
  height: 100%;
}
.ant-transfer-list-body-search-wrapper {
  position: absolute;
  top: 15px;
  left: 0;
  padding: 4px;
  width: 100%;
}
.ant-transfer-list-search {
  padding: 0 8px;
}
.ant-input {
  font-variant: tabular-nums;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
span.ant-transfer-list-search-action {
  pointer-events: none;
}
.ant-transfer-list-search-action {
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 28px;
  line-height: 32px;
  text-align: center;
}
.ant-transfer-list-search-action .anticon {
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.25);
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: -0.125em;
  text-align: center;
  text-transform: none;
  line-height: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span.ant-transfer-list-search-action {
  pointer-events: none;
}
.anticon svg {
  display: inline-block;
}
svg:not(:root) {
  overflow: hidden;
}

.anticon > * {
  line-height: 1;
}
.ant-transfer-list-content {
  height: 100%;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-group-item {
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.list-group-item:hover {
  background-color: #f5f5f5;
}
.btn-icon-only.btn-sm {
  width: 2rem;
  height: 2rem;
  line-height: 14px;
  padding-left: 6px;
  font-size: 16px;
}
.upload-container {
  border: 4px dashed #b4b9be;
  height: 200px;
}
.widget-categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-categories ul > li {
  position: relative;
  padding-left: 1rem;
}
.widget-categories ul > li > a {
  display: block;
  position: relative;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}
.widget-categories ul > li > a:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.widget-categories ul > li > a .badge {
  font-weight: 400;
}
.widget-categories > ul > li {
  margin-bottom: 0.5rem;
  padding-left: 1.25rem;
}
.widget-categories > ul > li.has-children > a {
  color: rgba(0, 0, 0, 0.9);
}
.widget-categories > ul > li.has-children > a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.widget-categories .has-children ul {
  padding-top: 0.75rem;
  padding-bottom: 0.125rem;
  border-left: 1px solid #e7e7e7;
}
.widget-categories .has-children ul > li {
  margin-bottom: 0.1rem;
}
.widget-categories .has-children ul > li span {
  font-weight: 500;
}
.widget-categories .has-children ul > li > a::before {
  display: block;
  position: absolute;
  top: 50%;
  left: -1rem;
  width: 0.5rem;
  height: 0.0625rem;
  margin-top: -0.0625rem;
  background-color: #dfdfdf;
  content: "";
}
.widget-categories .widget-categories-indicator {
  display: block;
  position: absolute;
  top: 50%;
  left: -1.25rem;
  width: 0.9375rem;
  height: 0.9375rem;
  margin-top: -0.46875rem;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  color: #888;
}
.widget-categories .collapsed .widget-categories-indicator {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.modal-header {
  padding: 0.5rem 1rem;
}
.text-foggy {
  color: var(--bnb-foggy) !important;
}
.vertical-line::before {
  content: "";
  width: 1px;
  height: 45px;
  background-color: #888;
  display: inline-block;
}
.bottom-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.progress {
  --bs-progress-height: 0.5rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #f5f6fa;
  --bs-progress-border-radius: 2px;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #6576ff;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-progress-bar-bg);
  transition: var(--bs-progress-bar-transition);
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}
.progress-bar {
  height: 100%;
  line-height: 1;
}
.progress-md {
  height: 0.375rem;
}
.progress-pill,
.progress-pill .progress-bar {
  border-radius: 100px;
}
.progress-reverse {
  flex-direction: row-reverse;
}
.progress-bordered .progress-bar {
  margin-top: -2px;
  border: 2px solid #fff;
  box-sizing: content-box;
}
.progress-bordered .progress-bar:not(:first-child) {
  margin-left: -4px;
}
.progress-bordered.progress-reverse .progress-bar {
  margin-left: 0;
}
.progress-bordered.progress-reverse .progress-bar:not(:last-child) {
  margin-left: -5px;
}
.small,
small {
  font-size: 0.85625rem;
  font-weight: normal;
}
#print-container,
.bill-container {
  font-family: "Courier New", Courier, monospace;
}
.company-details {
  display: none;
}
.company-details .line {
  position: relative;
  height: 4px;
  background-color: var(--base-color);
}

.company-details .line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33%;
  height: 4px;
  background-color: var(--second-color);
}

.company-details .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 66.66%;
  width: 33.33%;
  height: 4px;
  background-color: var(--base-color);
}

@media print {
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .company-details {
    display: block !important;
  }
  th.actio,
  th.check,
  td.action,
  td.check {
    display: none !important;
  }
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #8091a7;
    page-break-inside: avoid;
  }
  thead {
    display: table-row-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }

  body {
    margin: 0;
  }
  .sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
  }
  .break-inside {
    break-inside: avoid;
  }
  .position-sticky,
  .stick-row {
    position: relative !important;
    top: auto !important;
    bottom: auto !important;
  }
  .sheet.padding-10mm {
    padding: 1mm;
  }
  .sheet.padding-15mm {
    padding: 0.5mm;
  }
  .sheet.padding-20mm {
    padding: 20mm;
  }
  .sheet.padding-25mm {
    padding: 25mm;
  }
  button,
  input,
  select,
  textarea,
  .pagination,
  .dropdown,
  .d-print-none,
  a.btn {
    display: none !important;
  }
  .badge {
    background: transparent !important;
    border: unset !important;
  }
  .wide-lg {
    max-width: 100% !important;
    margin: 0 !important;
  }
  .invoice-wrap {
    padding: 0 !important;
    border: 0;
  }
  .w-350px {
    width: auto !important;
  }
  .d-print {
    display: block !important;
  }
  .table {
    max-width: 100%;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-row-group;
  }
  tfoot {
    display: table-footer-group;
  }
}
.v-dropdown,
.v-dropdown a,
.v-dropdown button,
.v-dropdown input,
.v-dropdown li {
  transform: rotate(180deg);
}
._2deea771 {
  animation: rotator 1s linear infinite;
}
@keyframes rotator {
  100% {
    transform: rotate(360deg);
  }
}