*,
::after,
::before {
  box-sizing: border-box;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: 1.2;
  color: #373c43;
}
h4 {
  font-size: 1.125rem;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
[hidden] {
  display: none !important;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.5rem);
  padding-left: var(--bs-gutter-x, 0.5rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.55rem 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.07);
  appearance: none;
  border-radius: 0.4375rem;
  box-shadow: inset 0 1px 2px rgba(55, 60, 67, 0.075);
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #141543;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(55, 60, 67, 0.075),
    0 0 0.75rem 0 rgba(0, 0, 0, 0.125);
}
.form-control::placeholder {
  color: #9ea2a8;
  opacity: 1;
}
.form-control:disabled {
  background-color: #f3f5f9;
  border-color: #edf1f6;
  opacity: 1;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.55rem 3rem 0.55rem 1rem;
  -moz-padding-start: calc(1rem - 3px);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjNzU4NjhmJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMicgZD0nTTIgNWw2IDYgNi02Jy8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 0.4375rem;
  box-shadow: inset 0 1px 2px rgba(55, 60, 67, 0.075);
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #141543;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(55, 60, 67, 0.075),
    0 0 0.75rem 0 rgba(0, 0, 0, 0.125);
}
.form-select:disabled {
  background-color: #f3f5f9;
  border-color: #edf1f6;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.55rem 1rem;
  font-size: 0.7125rem;
  border-radius: 0.4375rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #495057;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.125);
}
.btn:active {
  box-shadow: inset 0 3px 5px rgba(55, 60, 67, 0.125);
}
.btn:active:focus {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.125),
    inset 0 3px 5px rgba(55, 60, 67, 0.125);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}
.btn-primary {
  color: #fff;
  background-color: #141543;
  border-color: #141543;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(55, 60, 67, 0.075);
}
.btn-primary:hover {
  color: #fff;
  background-color: #1f3c5a;
  border-color: #1e3955;
}
.btn-primary:focus {
  color: #fff;
  background-color: #1f3c5a;
  border-color: #1e3955;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(55, 60, 67, 0.075), 0 0 0 0.15rem rgba(70, 99, 128, 0.5);
}
.btn-primary:active {
  color: #fff;
  background-color: #1a324a;
  border-color: #1c3550;
}
.btn-primary:active:focus {
  box-shadow: inset 0 3px 5px rgba(55, 60, 67, 0.125),
    0 0 0 0.15rem rgba(70, 99, 128, 0.5);
}
.btn-primary:disabled {
  color: #fff;
  background-color: #141543;
  border-color: #141543;
}
.align-items-center {
  align-items: center !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.form-control,
.form-select {
  box-shadow: none;
}
.btn-primary {
  box-shadow: 0 0 0 #141543, 0 0 0 rgba(55, 60, 67, 0.25);
}
.btn-primary:hover {
  box-shadow: 0 0.1rem 0.5rem rgba(37, 71, 106, 0.5),
    0 0.25rem 1rem rgba(55, 60, 67, 0.2);
}
.btn-primary:active {
  box-shadow: 0 0 0.5rem #141543, 0 0 0.75rem rgba(55, 60, 67, 0.2) !important;
}
.btn-primary:active:focus,
.btn-primary:focus {
  box-shadow: 0 0 0 1px #141543, 0 0 0.7rem 0.25rem rgba(37, 71, 106, 0.4) !important;
}
button:disabled {
  cursor: not-allowed;
}
[hidden],
.d-none {
  display: none;
}
@media print {
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  button,
  input,
  select {
    display: none !important;
  }
}
.panel {
  border-color: #f8f9fa !important;
  box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.175) !important;
  border-radius: 0.7rem;
  padding: 1.1rem 1.3rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.75em;
}
.form-check-input {
  --bs-form-check-bg: #f1f4f8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #d9e2ef;
  height: 1.25em;
  margin-top: 0.125em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  vertical-align: top;
  width: 1.25em;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0;
}
.form-check-input:checked {
  background-color: #141543;
  border-color: #141543;
}
.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3E%3C/svg%3E");
}
.form-check-input:disabled {
  filter: none;
  opacity: 0.5;
  pointer-events: none;
}
:active,
:focus,
input {
  outline: 0 !important;
}
.form-check-input-primary:checked {
  background-color: #141543 !important;
  border-color: #141543 !important;
}
th > .form-check input {
  margin: 0 !important;
}
.form-check-input:checked[type="checkbox"] {
  background-position: inherit;
}
.d-flex {
  display: flex !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.align-items-center {
  align-items: center !important;
}
.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.ms-auto {
  margin-left: auto !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.ps-1 {
  padding-left: 0.25rem !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.fw-bolder {
  font-weight: bolder !important;
}
.text-dark {
  color: #000 !important;
}
.preloader {
  width: 100%;
  height: 85vh;
  background: #fff;
  overflow: hidden;
  opacity: 1;
  display: flex;
  justify-content: center;
}

.preloader .preloader-inner {
  margin: auto;
}
.preloader .preloader-inner .preloader-icon {
  width: 72px;
  height: 72px;
  display: inline-block;
  padding: 0px;
}
.preloader .preloader-inner .preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: #ff2f2a;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}
.preloader .preloader-inner .preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}
.loading {
  margin-top: 20px;
}
.load-circle1,
.load-circle2,
.load-circle3,
.load-circle4,
.load-circle5 {
  width: 8px;
  height: 8px;
  background: grey;
  display: inline-block;
  border-radius: 20px;
  -webkit-animation: loader 1.5s infinite;
  animation: loader 1.5s infinite;
}
.load-circle2 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.load-circle3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.load-circle4 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.load-circle5 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loadingText {
  display: block;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  line-height: 10px;
}
.loadingText span {
  position: relative;
  margin: auto;
  color: #33333390;
}
.loadingText span:after {
  content: "Printing... Don't unplug printer";
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: #00123e;
  left: 0;
  animation: loading 1.5s linear infinite;
}
@-webkit-keyframes loader {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0.25;
    scale: 0.3;
  }
}
@keyframes loader {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0.25;
    scale: 0.3;
  }
}
@media (min-width: 1200px) {
  .preloader {
    left: 200px;
    top: 63px;
  }
  .preloader .preloader-inner {
    top: calc(50% - 63px);
    left: calc(50% - 200px);
  }
}
@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    max-width: 5%;
  }
  /* 20% {color: red}
    60% {color: #06a90e}
    100% {color: #06a90e} */
}
